# Exclude the local dependencies folder
node_modules/

# Exclude local test reports and screenshots
playwright-report/
test-results/
blob-report/

# Exclude source control histories
.git/
.gitignore

# Exclude local environment secrets and Docker assets
.env
Dockerfile
docker-compose.yml